.header {
  height: 65vh;
  background-color: rgb(255, 230, 0);
  position: relative;
}
.header-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: monospace;
  text-align: center;
}

#flower {
  height: 50vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

#title {
  letter-spacing: 5pt;
  font-size: 30pt;
  text-transform: uppercase;
}

h2{
  text-align: center;
  color: rgb(39, 0, 0);
}

 .header2 {
  height: 100vh;
  background-color: rgb(255, 97, 145);

}

.pictures {
  position: absolute;
}

#brown {
  position: relative;
  width: 50vh;
  left: 50%;
  transform: translate(-50%);
}

#meandelaine {
  position: relative;
  width: 50vh;
  left: 50%;
}